.title{
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 33px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #14142B;
}

.valueField{
  width: 100%;
  resize: none;
  padding: 30px;
  border: none !important;
  outline: none !important;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.75px;
  background: #EFF0F7;
  border-radius: 16px;
}
