.students{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-template-rows: auto;
  gap: 60px;
}

.student{
  display: flex;
  flex-direction: column;
}

.avatar{
  object-fit: cover;
  height: 275px;
  width: 100%;
}

.name{
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: #FFFFFF !important;
  margin-top: 17px;
  background: none !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
}

.about{
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  color: #FFFFFF !important;
  background: none !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  resize: none;
  overflow: hidden;
  position: relative;
}

.profileOpportunities{
  margin-top: 40px;
}

.label{
  margin-top: 8px;
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
  color: #FFFFFF;
}

.sendMessageBtn{
  background: #FFFFFF;
  border-radius: 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.75px;
  color: #14142B;
  height: 50px;
  width: 100%;
  margin-top: 35px;
}

.info{
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  color: #FFFFFF;
}

.managementButtons{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.managementButton{
  width: 100%;
  border-radius: 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.75px;
  color: #14142B !important;
  height: 50px;
  border: none !important;
  box-shadow: none !important;
}

.sendBtn{
  background: #FFFFFF !important;
}
