.layout{
  background: #4547BB url("../../assets/background.png")center center/cover no-repeat fixed;
  min-height: 100vh;
  padding: 25px 0;
}

.container{
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 100px;
}
