.feedBack{
  width: 100%;
  max-height: 600px;
  overflow: auto;

  &::-webkit-scrollbar-thumb {
    background-color: #C4C4C4;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #EDEDED;
    border-radius: 8px;
  }

  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 8px;
  }
}

.feedbackTitle {
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.comments{
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  max-width: 80%;
}

.commentWrapperOutside {
  display: grid;
  grid-template-columns: 90px 1fr;
  gap: 20px;
}

.imgWrapper{
  & img{
    height: 90px;
  }
}

.commentWrapper {
  display: flex;
  flex-direction: column;

  & .whoWrote {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 15px;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }

  & .comment{
    background: #FFFFFF;
    border-radius: 32px;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.75px;
    color: #14142B;
    padding: 10px 20px;
  }
}

.form{
  margin-top: 16px;
  display: flex;
  column-gap: 12px;
  align-items: center;
  input{
    flex: 1 1 auto;
    height: 50px;
    border-radius: 12px;
    border: none !important;
    padding: 8px 12px;
    outline: none !important;
    box-shadow: none !important;
  }
  button{
    flex: 0 0 auto;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    transition: .1s transform;
    &:active{
      transform: scale(.9);
    }
  }
}
